body{
    background-image: url(../IMG/Fondo\ PI2020.jpg);
    background-position: center;
}

.header{
    background-color:#353745;
    display: grid;
    grid-template-columns: 80px 440px;
    gap: 60%;
    text-decoration-color: white;
    height: 100%;
    margin-top: 1%;
    width: 100%;
    font-family: calibri;
}


a {
    text-decoration: none;
    font-family: calibri;
    color: #9697a0;
}

a:hover {
    color: #a9a9ac;;
}

.logox{
    margin-top: 5%;
    margin-left: 5%;
}

.nav {
    display: grid;
    grid-template-columns: 100px 100px 100px 200px;
    margin: 3%;
    gap: 3%;
    font-size: 5mm; 
    padding-top: 2%;
    font-family: calibri;
    padding-right: 2mm;
    text-decoration: none;
}


.search-box{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,50%);
    background: white;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}


.search-btn{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: #353745;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding-left: 3px;
    color:gray;
    font-size: 16px;
    transition: 0.4s;
    line-height: 37px;
    width: 600px;
}

.carousel{
    position: absolute;
    top: 29%;
    left: 15%;
    height: 450px;
    width: 70%;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
}

.carousel__track-container{
    background: lightgreen;
    height: 100%;
    position: relative;
}

.carousel__track{
    padding: 0;
    margin: 0;
    list-style: none;  
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
}

.carousel__button--left{
    left: -60px;
    width: 2.5cm;
    height: 5cm;

}

.carousel__button--right{
    right: -60px;
    width: 2.5cm;
    height: 5cm;
}

.carousel__button img{
    width: 40px;
    height: 35px;
}

.carousel__nav{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator{
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: white;
    margin: 0 8px;
}

.carousel__indicator.current-slide{
    background: rgb(146, 146, 146);
}

.slider{
    margin-top: -50%;
}

.seccion{
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding-left: 4%;
    column-gap: 0;
}

.tops{
    font-family: Calibri;
    font-size: 29px;
    color:  #d3d4dd;
    height: 10%;
}

.slider{
    margin-top: 55%;
}

.search-text{
    border-radius: 35px;
    background-color: #353745;
    height: 40px;
    width: 500px;
    color: #9697a0;
    font-size: 16px;
    padding-left: 3mm;
    align-items: center;
    border-style: none;
    
}

.search-button{
    position: absolute;
    transform: translate(-160%, 65%);
}

.container{
    margin-top: -10%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 350px;
    height: 450px;
    background-color: #353745;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}

.model{
    height: 350px;
    max-height: 100%;
    max-width: 100%;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.details p{
    font-family: calibri;
    font-weight: bold;
    color: #9697a0;
    text-align: center;
    margin-top: 20px;
}

.marvel{
    color: #9697a0;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: calibri;
    font-size: 25px;
}

.logos{
    height: 60px;
}

.box:hover{
    background-color: #2a2b35;
    transform-style: preserve-3d;
    transform: scale(1.02);
    transition: all ease 0.3s;
}

.box:hover .marvel{
    color: #7f8088;
    transition: all ease 0.5s;
}



.generos {
    color: #bbbcc4;
    font-family: calibri;
    text-align: center;
}

.h2{

}

.listado{
    font-size: 20px;
}

 footer {
    background-color: #353745;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
    list-style: none;
}
.logo {
    height: 2cm;
    width: 6cm;
}

.arriba ul{
    font-family: calibri;
    margin: 0px;
    padding: 0px 20px;
}

.arriba h1{
    color: #9697a0;
    font-size: 20px;
    font-family: calibri;
}

.arriba ul li a{
    font-size: 16px;
    color: #575a70;
}

.arriba ul li p{
    font-size: 14px;
    color: #575a70;
    line-height: 10px;
}

.arriba{
    display: flex;
    justify-content: space-between;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}

.arriba{
    border-bottom: 1px solid #575a70;
    
}

.arriba a:hover{
    color: grey;
}
   
.abajo h1{
    color: #9697a0;
    font-size: 20px;
    font-family: calibri;
}


.abajo{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}

.logo{
    height: 50px;
    width: 170px;
}

.social-icons a{
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    background-color: #424356;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons{
    display: flex;
}

.social-icons i{
    color: #ffffff;
    font-size: 14px;
}

.search input{
    height: 35px;
    width: 200px;
    border-radius: 4px;
    outline: none;
}

.copyright{
    font-family: calibri;
    font-size: 12px;
    color: #b3b3b3;
}

.Integrantes{
    font-family: calibri;
    font-size: 25px;
    color: #b3b3b3;
}
.up-section ul li a:hover, .dwn-section ul li a:hover{
    color: #9697a0;
}

.social-icons a:hover{
    background-color: #353745;
    transition: all ease 0.5s;
}

.social-icons a:hover i{
    color: #424356;
}

.imagenes{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 3% 0px;
    margin: 5px;
    width: 80%;
    flex-wrap: wrap;
}

@media(max-width: 1024px){
    .search{
        margin: 20px auto;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .search h1{
        margin: 20px;
    }
}

@media(max-width: 720px){
    .arriba, .abajo{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .arriba ul h1, .abajo ul h1{
        font-size: 25px;
    }
    .arriba ul li, .abajo ul li{
        text-align: center;
        margin: 10px;
    }
    .search{
        display: block;
    }

}

@media(max-width: 720px){
    .box{
        width: 94%;
        height: 500px;
    }
    .model{
        height:250px
    }
    .details p{
        font-size: 16px;
        width: 250px;
    }
}





